.App {
  text-align: center;
  overflow: hidden;

}


header {
  background-color: #d4d9d94c;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
}

.logo{
  width:1rem;
}
.nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:10px;
  color:black
}
.nav>Link {
  text-decoration: none;
  color:black
}

.sign{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap:10px;
}